.filterList {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 2% 3% 0 3%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
}
.filterList :last-child{
  margin-left: 150%;
  background-color: transparent;
}
.genre {
  width: 10rem;
  height: 2rem;
  background-color: var(--bg_main);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  border: solid 0.1rem transparent;
}
.genre:hover {
  background-color: var(--main_hover);
}
.active {
  border-color: var(--fg_main);
}